doctype html
html
	head
		meta(name="viewport",content="width=device-width;maximum-scale=1;initial-scale=1")
		link(rel="stylesheet",href="/assets/js/vendors/materialize/css/materialize.min.css")
		link(rel="stylesheet",href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet",href="/assets/css/estilos.css")
	body
		div.contenido.lightgrey
			nav.light-blue
				div.nav-wrapper
					a(href="#").brand-logo Sistema
					ul#nav-mobile.right.hide-on-med-and-down
						li
							a(href="/cines") CINES
						li
							a(href="/generos") GÉNEROS
						li
							a(href="/top") TOP
						li
							a(href="/agregar") AGREGAR
						li
							a(href="/registro").btn.waves-effect.waves-light.blue Registro
						li
							a(href="/login").btn.waves-effect.waves-light.blue Login
			div.container
				div.row.titulo
					h1.blue-text.text-lighten-3 #{titulo}
				block contenido