<mat-sidenav-container>
  <mat-sidenav #menuLateral>

    <mat-nav-list>
      <a mat-list-item href="">
        <mat-icon>face</mat-icon>
        <span>Menu1</span>
      </a>
      <a mat-list-item href="">
        <mat-icon>lock</mat-icon>
        <span>Menu2</span>
      </a>
      <a mat-list-item href="">
        <mat-icon>add</mat-icon>
        <span>Menu3</span>
      </a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar color="primary" fxLayout>
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="menuLateral.open()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <div>Proyecto Material</div>


      <nav fxFlex fxLayoutAlign="end" fxHide.xs>
        <button mat-flat-button>
          <mat-icon>face</mat-icon>
          Menu 1
        </button>
        <button mat-flat-button>
          <mat-icon>lock</mat-icon>
          Menu 2
        </button>
        <button mat-flat-button>
          <mat-icon>add</mat-icon>
          Menu 3
        </button>
        <button mat-flat-button [matMenuTriggerFor]="menuCuenta">
          <mat-icon>account_circle</mat-icon>
          Cuenta
        </button>
        <mat-menu #menuCuenta>
          <button mat-menu-item>
            <mat-icon>face</mat-icon>
            Perfil
          </button>
          <button mat-menu-item>
            <mat-icon>close</mat-icon>
            Cerrar sesión
          </button>
        </mat-menu>
        <!--<ul>
        <li><a href="">Menu1</a></li>
        <li><a href="">Menu2</a></li>
        <li><a href="">Menu3</a></li>
        <li>
          <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
            Cuenta
          </button>
        </li>
      </ul>-->
      </nav>

    </mat-toolbar>

    <mat-table [dataSource]="miDataSource" matSort>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ID del curso</mat-header-cell>
        <mat-cell *matCellDef="let registro">{{registro.id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="curso">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Curso</mat-header-cell>
        <mat-cell *matCellDef="let registro">{{registro.curso}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="profesor">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Profesor</mat-header-cell>
        <mat-cell *matCellDef="let registro">{{registro.profesor}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
        <mat-cell *matCellDef="let registro">{{registro.fecha | date:"short"}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnasAMostrar"></mat-header-row>
      <mat-row *matRowDef="let registros; columns: columnasAMostrar"></mat-row>

    </mat-table>

    <mat-paginator [pageSize]="3" [pageSizeOptions]="[1, 3, 6, 10]"></mat-paginator>


  </mat-sidenav-content>
</mat-sidenav-container>