extend base

include formulario

block contenido
    h1= titulo
    ul
        each curso in cursos
            li
                a(target="_blank",href=curso.url)= curso.titulo
        +formulario("get","/insertar/registro")
        +formulario("post","modificar/registro")

block append pie
    script(src="https://cdn.fancyboxapp.com")