div.contenedor {
    width: 100%;
    height: 700px;
    display: flex;
    border: 1px solid skyblue;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

div.caja {
    width: 100px;
    height: 100px;
}

div.caja.caja01 {background-color: green}
div.caja.caja02 {background-color: brown}
div.caja.caja03 {background-color: orange}